:root {
    --blanco: #FFF;
    --negro: #000;
    --moradoClaro: #6834a6;
    --morado: #5a2fa0;
    --espacio: 5rem;
    --fuente: "Poppins", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: var(--fuente);
}

h1, h2, h3 {
    font-weight: 900;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.text-center {
    text-align: center;
}

/*Menu y seccion hero*/

.header {
    background-image: url(./../img/header_bg.svg);
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: top right;
    padding: var(--espacio) 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu__logo {
    width: 15rem;
    margin: 0 auto 3rem;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav__element {
    color: #6834a6;
}

.hero-info__h1 {
    font-size: 3rem;
    margin: 2rem 0 5rem;
}

.hero-info__a {
    background-color: var(--moradoClaro);
    display: block;
    padding: 1rem 0;
    text-transform: capitalize;
    margin-bottom: 4rem;
}

/*Ventajas*/

.ventajas-contenedor {
    display: flex;
    flex-direction: column-reverse;
}
.ventajas-info__card {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
    padding: 2rem;
    margin-bottom: 5rem;
    transition: 0.3s transform;

}

.ventajas-info__card:hover {
    transform: scale(1.1);
}

.ventajas-info__title,
.ventajas-info__p {
    margin: 0
}

.ventajas-info__title {
    color: var(--moradoClaro);
    text-align: center;
    font-size: 3rem;
}

.ventajas-info__p {
    font-size: 2rem;
}

.seguridad {
    background-color: var(--moradoClaro);
    margin-top: calc(var(--espacio) * 2);
    position: relative;
    padding: 20rem 0;
    overflow: hidden;
}

.seguridad:before {
    content: '';
    display: block;
    background-color: var(--blanco);
    height: 20rem;
    width: 120%;
    position: absolute;
    top: -10rem;
    left: 0;
    rotate: 3deg;
}

.seguridad:after {
    content: '';
    display: block;
    background-color: var(--blanco);
    height: 20rem;
    width: 120%;
    position: absolute;
    bottom: -10rem;
    left: 0;
    rotate: -3deg;
}

.seguridad__title {
    color: var(--blanco);
    font-size: 4.6rem;
    margin: 2rem 0 5rem;
}

.card {
    padding: 2rem;
    background-color: var(--blanco);
    width: 100%;
    margin-bottom: var(--espacio);
}

.seguridad-contenedor__card {
    font-size: 2rem;
}

.seguridad-contenedor__p {
    margin: 0;
}

.comisiones {
    margin-top: calc(var(--espacio) * 2);
}

.comisiones__title {
    margin: 2rem 0 5rem;
    font-size: 4.6rem;
}

.comisiones-card__title {
    font-size: 2.4rem;
    font-weight: 700;
}

.comisiones-card__card {
    box-shadow: 0px 0px 15px 3px rgb(0 0 0 / .15);
}

.comisiones-card__p {
    font-size: 2rem;
    margin: 0;
    text-align: left;
}

.comisiones-card__p--morado {
    font-size: 6rem;
    color: var(--morado);
    font-weight: 900;
    margin: 0;
}

@media (min-width: 768px){
    .header {
        background-size: 50rem;
    }

    .menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu__logo {
        margin: 0;
    }

    .nav {
        flex-direction: row;
        gap: 2rem;
    }

    .nav__element {
        color: var(--blanco);
    }

    .hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        align-items: center;
    }

    .hero-info {
        text-align: left;
    }
    
    .hero-info__h1 {
        font-size: 5rem;
        line-height: 1.2;
        }

    .hero-info__a {
        display: inline-block;
        padding: 1rem 3rem;
    }

    .hero__img {
        max-width: 30rem;
        margin: 0 auto;
    }

    .ventajas-contenedor {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--espacio);
        align-items: center;
    }

    .info__title {
        margin-bottom: var(--espacio);
        font-size: 4.6rem;
    }

    .seguridad-contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;

    }

    .comisiones__contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--espacio);
        align-items: end;
    }

    .comisiones-card__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .comisiones-card__title,
    .comisiones-card__p {
        text-align: left;
    }

    .comisiones-card__p--morado {
        font-size: 4rem;
        text-align: right;
        flex-basis: 20rem;
    }
}

@media (min-width: 998px) {
    .header {
        background-size: 60rem;
    }

    .comisiones__contenedor {
        align-items: center;
    }
}

@media (min-width: 1280px) {
    .header {
        background-size: 110rem;
    }
}